*, *::after, *::before {
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, Helvetica, sans-serif;
  }
  
  body {
    background-color: hsl(240, 3%, 7%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /* padd */
    font-size: clamp(.5rem, 2.5vmin, 1.5rem);
    align-items: center;
  }

  .titleh-container{
    width: 75%;
    text-decoration: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-bottom: solid 1px #3a3a3c;
    margin-bottom: 1rem;
  }

  .titleh-container h1{
    /* width: 510px; */
    padding: 0;
     margin: 1rem;
  }
  
  
  .keyboard {
    display: grid;
    grid-template-columns: repeat(20, minmax(auto, 1.25em));
    grid-auto-rows: 3em;
    gap: .25em;
    justify-content: center;
    padding-bottom: 2.5rem;
  }
  
  .key {
    font-size: inherit;
    grid-column: span 2;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 1%, 51%);
    color: white;
    fill: white; /*svg ko white karneme help kar raha*/
    text-transform: uppercase;
    border-radius: .25em;
    cursor: pointer;
    user-select: none;
  }
  
  .key.large {
    grid-column: span 3;
  }
  
  .key > svg {
    width: 1.75em;
    height: 1.75em;
  }
  
  .key:hover, .key:focus {
    background-color: hsl(210, 5%, 61%);
  }
  
  .key.wrong {
    background-color: rgb(58,58,60);
  }
  
  .key.wrong-location {
    background-color: rgb(181,159,59);
  }
  
  .key.correct {
    background-color: rgb(83,141,78);
  }
  
  .guess-grid {
    display: grid;
    /* justify-content: center;
    align-content: center; */
    justify-content: flex-start;
    align-content: flex-start;
    flex-grow: 0.1;
    grid-template-columns: repeat(5, 3.5em);
    grid-template-rows: repeat(6, 3.5em);
    gap: .25em;
    margin-bottom: 1em;
  }
  
  .tile {
    font-size: 1.4em;
    color: white;
    border: .07em solid hsl(240, 2%, 23%);
    text-transform: uppercase;
    /* font-weight: bold; */
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: transform 250ms linear;
  }
  
  .tile[data-state="active"] {
    border-color: hsl(200, 1%, 34%);
  }
  
  .tile[data-state="wrong"] {
    border: none;
    background-color: hsl(240, 2%, 23%);
  }
  
  .tile[data-state="wrong-location"] {
    border: none;
    background-color: hsl(49, 51%, 47%);
  }
  
  .tile[data-state="correct"] {
    border: none;
    background-color: hsl(115, 29%, 43%);
  }
  
  .tile.shake {
    animation: shake 250ms ease-in-out;
  }
  
  .tile.dance {
    animation: dance 500ms ease-in-out;
  }
  
  .tile.flip {
    transform: rotateX(90deg);
  }
  
  @keyframes shake {
    10% {
      transform: translateX(-5%);
    }
  
    30% {
      transform: translateX(5%);
    }
  
    50% {
      transform: translateX(-7.5%);
    }
  
    70% {
      transform: translateX(7.5%);
    }
  
    90% {
      transform: translateX(-5%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes dance {
    20% {
      transform: translateY(-50%);
    }  
  
    40% {
      transform: translateY(5%);
    }  
  
    60% {
      transform: translateY(-25%);
    }  
  
    80% {
      transform: translateY(2.5%);
    }  
  
    90% {
      transform: translateY(-5%);
    }  
  
    100% {
      transform: translateY(0);
    }
  }

  
  .alert-container {
    position: fixed;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .alert {
    pointer-events: none;
    background-color: hsl(204, 7%, 85%);
    padding: .75em;
    border-radius: .25em;
    /* opacity: 1; */
    background-color: black;
    transition: opacity 500ms ease-in-out;
    margin-bottom: .5em;
  }
  
  .alert:last-child {
    margin-bottom: 0;
  }
  
  .alert.hide {
    opacity: 0;
  }